@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
  font-family: 'Exo 2', sans-serif;
}

img.figmini {
	max-width: 96px;
	cursor: pointer;
}

img.figmini:hover {
	transform: scale(2);
	transition: all 100ms ease-in;
}

#pane {
	overflow-y: auto;
}